h3{
    color: rgb(117, 11, 224);
    text-align: center;
}
.dolor{
    background-color: rgb(28, 230, 28);
    margin: 2px;
    color:tomato;
    /* text-align: center; */
}
div{
    background-color: aquamarine;
    padding: 10px;
    max-resolution: 10px;
}